/* Global styles */

body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding: 68px 0;
    max-width: 960px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

h2 {
    margin: 55px 0 34px;
    color: #bfbfbf;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
}

.table-2,
.table-3 {
    overflow: hidden;
}

thead {
    color: #fff;
    font-weight: bold;
    background-color: #2a3644;
    border-color: #3f4751;
}

thead th {
    padding: 15px 30px 12px 30px;
}

thead th + th {
    border-left: solid 1px #3f4852;
}

th a {
    color: #fff;
}


tbody td {
    padding: 15px 30px 12px 30px;
    color: #2a3644;
}

tbody td + td {
    border-left: solid 1px #bfc1c1;
}

tbody tr + tr {
    border-top: solid 1px #bfc1c1;
}

.table-2 tbody tr:nth-child(1n),
.table-3 tbody tr:nth-child(1n) {
    background-color: #f2f2f2;
}

.table-2 tbody tr:nth-child(2n),
.table-3 tbody tr:nth-child(2n) {
    background-color: #e8e8e8;
}

.table-2 tbody tr:hover,
.table-3 tbody tr:hover {
    background-color: #bfc1c1;
}

.year th {
    border-left: solid 1px #3f4852;
    border-top: solid 1px #3f4852;
}

.number-column {
    width: 5%;
    text-align: center;
}

.name-column {
    width: 50%;
    text-align: left;
}

.tar {
    text-align: right;
}

nav ul {
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 1. Навігація */

.navigation h2 {
    margin-top: 0px;
}


/* menu-1 */

.menu-1 > ul {
    display: flex;
    margin: 0;
    justify-content: space-between;
    background: linear-gradient(90deg, transparent 5%, #2a3644 5%, #2a3644 95%, transparent 95%, transparent 100%);
}

.menu-1 > ul > li {
    position: relative;
    display: block;
}

.menu-1 > ul > li > a {
    color: #fff;
    display: block;
    padding: 13.5px 30px;
    font-weight: bold;
    font-size: 16px;
    background-color: #2a3644;
}

.menu-1 > ul > li > a {
    border-left: 1px solid #3f4751;
    border-right: 1px solid #3f4751;
}

.menu-1 > ul > li:first-child > a {
    border-left: none;
    border-radius: 3px 0 0 3px;
}

.menu-1 > ul > li:last-child > a {
    margin-right: -0.5px;
    border-right: none;
    border-radius: 0 3px 3px 0;
}

.menu-1 > ul > li:last-child > ul {
    margin-left: -89px;
}

.menu-1 > ul > li > ul {
    position: absolute;
    z-index: 1;
}

.menu-1 > ul > li:hover > a {
    color: #fd8612;
    background-color: #3f4852;
}

.menu-1 > ul > li:hover > .dropdown {
    display: block;
}

.dropdown {
    padding: 5px 0 0 0;
    color: transparent;
    display: none;
    width: 210px;
}

.dropdown a {
    display: block;
    padding: 12px 20px 10px 20px;
    color: #2a3644;
    background-color: #d2d4d5;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
}

.dropdown > li + li > a {
    border-top: 1px solid #b9bdc1;
}

.dropdown > li:first-child > a {
    border-radius: 3px 3px 0 0;
}

.dropdown > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.dropdown li:hover > a {
    color: #fd8612;
    background-color: #2a3644;
}

/* menu-2 */

.menu-2 {
    margin-top: 30px;
    text-align: center;
    border: none;
    border-collapse: collapse;
}

.menu-2 th {
    position: relative;
}

.menu-2 th > a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-2 th:first-child {
    border-radius: 3px 0 0 3px;
}

.menu-2 th:last-child {
    border-radius: 0 3px 3px 0;
}

.menu-2 th:hover {
    background-color: #3f4852;
}

.menu-2 th:hover > a {
    color: #fd8612;
}

.menu-2 th > ul {
    margin-top: 12px;
    padding-left: 0px;
}

.menu-2 th:hover > div > ul {
    position: absolute;
    display: block;
    z-index: 2;
}

nav.menu-2 a:first-child {
    border-left: none;
}

nav.menu-2 a:last-child {
    border-right: none;
}

.menu-2 .dropdown {
    margin-left: -31px;
}

.dropdown > li:hover > .dropdown  {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.position-relarive {
    position: relative;
}

.menu-2 ul.dropdown {
    margin-top: 12px;
}

.pr {
    position: relative;
}

.menu-2 .dropdown a {
    text-align: left;
}

.dropdown > .pr > .second-dropdown {
    margin: 1px 0 0 210px;
    padding: 0 0 0 5px;
}

.dropdown > .pr > .third-dropdown {
    margin: 1px 0 0 -215px;
    padding: 0 5px 0 0;
}

.dropdown.second-dropdown {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.dropdown.third-dropdown {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

/* menu-3 */

.navigation-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-radius: 3px;
    background: linear-gradient(90deg, transparent 5%, #2a3644 5%, #2a3644 100%);
}

.menu-3 > ul {
    display: flex;
    margin: 0;
}

.menu-3 > ul > li {
    position: relative;
    display: block;
}

.menu-3 > ul > li > a {
    color: #fff;
    display: block;
    padding: 13.5px 30px;
    font-weight: bold;
    font-size: 16px;
    background-color: #2a3644;
}

.menu-3 > ul > li > a {
    border-left: 1px solid #3f4751;
    border-right: 1px solid #3f4751;
}

.menu-3 > ul > li:first-child > a {
    border-left: none;
    border-radius: 3px 0 0 3px;
}

.menu-3 > ul > li:last-child > a {
    margin-right: -0.5px;
    border-right: none;
    border-radius: 0 3px 3px 0;
}

.menu-3 > ul > li > ul {
    position: absolute;
    z-index: 3;
}

.menu-3 > ul > li:hover > a {
    color: #fd8612;
    background-color: #3f4852;
}

.menu-3 > ul > li:hover .dropdown {
    display: block;
}

.dropdown > li + li > a {
    border-top: 1px solid #b9bdc1;
}

.dropdown > li:first-child > a {
    border-radius: 3px 3px 0 0;
}

.dropdown > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.dropdown li:hover > a {
    color: #fd8612;
    background-color: #2a3644;
}

.double-dropdown {
    display: flex;
    overflow: hidden;
}

.double-dropdown .dropdown li a {
    border-radius: 0;
}

.menu-3 .home {
    padding-left: 60px;
}

.home:before {
    content: "";
    position: absolute;
    left: 30px;
    top: 15px;
    width: 16px;
    height: 13px;
    background: url(../img/sprites.png) no-repeat 0 0;
}

.social {
    display: block;
    padding-right: 30px;
    margin: 0;
}

.social li {
    display: inline-block;
    margin-left: 20px;
}

.social li {
    padding: 11.5px 0 11.5px 0;
}


.social a {
    display: inline-block;
    background: url(../img/sprites.png) no-repeat;
}

a.fb {
    width: 9px;
    height: 18px;
    background-position: -18px 0;
}

a.fb:hover {
    background-position: -18px -20px;
}

a.tw {
    width: 16px;
    height: 14px;
    background-position: -45px 0;
}

a.tw:hover {
    background-position: -45px -20px;
}

a.ig {
    width: 14px;
    height: 16px;
    background-position: -29px 0;
}

a.ig:hover {
    background-position: -29px -20px;
}

.double-dropdown {
    margin-left: -1px;
    padding-top: 5px;
}

.double-dropdown ul {
    padding-top: 0;
}

.double-dropdown li:first-child {
    padding-top: 0;
    background-color: #d2d4d5;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
}

.double-dropdown li:last-child {
    padding-top: 0;
    background-color: #d2d4d5;
    border-radius: 0 3px 3px 0;
    overflow: hidden;
}

a.brr {
    border-right: 1px solid #b9bdc1;
}


