/* Global styles */

body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding: 68px 0;
    max-width: 960px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

h2 {
    margin: 55px 0 34px;
    color: #bfbfbf;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
}

.menu-2,
.navigation-3,
.table-2,
.table-3 {
    overflow: hidden;
}

.menu-1 a,
.menu-2 a,
.menu-3 a {
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.menu-1 > a,
.menu-3 > a {
    padding: 15px 30px 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
}

thead {
    color: #fff;
    font-weight: bold;
    background-color: #2a3644;
    border-color: #3f4751;
}

thead th {
    padding: 15px 30px 12px 30px;
}

thead th + th {
    border-left: solid 1px #3f4852;
}

.year th {
    border-left: solid 1px #3f4852;
    border-top: solid 1px #3f4852;
}


tbody td {
    padding: 15px 30px 12px 30px;
    color: #2a3644;
}

tbody td + td {
    border-left: solid 1px #bfc1c1;
}

tbody tr + tr {
    border-top: solid 1px #bfc1c1;
}

.table-2 tbody tr:nth-child(1n),
.table-3 tbody tr:nth-child(1n) {
    background-color: #f2f2f2;
}

.table-2 tbody tr:nth-child(2n),
.table-3 tbody tr:nth-child(2n) {
    background-color: #e8e8e8;
}

.table-2 tbody tr:hover,
.table-3 tbody tr:hover {
    background-color: #bfc1c1;
}

.number-column {
    width: 5%;
    text-align: center;
}

.name-column {
    width: 50%;
    text-align: left;
}

.tar {
    text-align: right;
}

nav ul {
    padding: 0;
    list-style: none;
}

.dropdown{
    position: absolute;
    width: 210px;
    background-color: #d2d4d5;
}

/* 1. Навігація */

.navigation h2 {
    margin-top: 0px;
}

/* menu-1 */

.navigation-1 {
    position: relative;
}

.menu-1 {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, transparent 1%, #2a3644 1%, #2a3644 99%, transparent 99%);
    border-radius: 10px;
}

.menu-1 a {
    border-left: solid 1px #3f4852;
    border-right: solid 1px #3f4852;
    background-color: #2a3644;
}

.menu-1 a:hover {
    color: #fd8612;
    background-color: #3f4852;
}

nav.menu-1 a:first-child {
    border-left: none;
    border-radius: 3px 0 0 3px;
}

nav.menu-1 a:last-child {
    border-right: none;
    border-radius: 0 3px 3px 0;
}

/* menu-2 */

.menu-2 {
    margin-top: 30px;
    text-align: center;
    background-color: #2a3644;
    border: none;
    border-collapse: collapse;
    border-radius: 3px;
}

.menu-2 th {
    position: relative;
}

.menu-2 a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu-2 th:hover{
    background-color: #3f4852;
}

.menu-2 th:hover a {
    color: #fd8612;
}

nav.menu-2 a:first-child {
    border-left: none;
}

nav.menu-2 a:last-child {
    border-right: none;
}

/* menu-3 */

.navigation-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #2a3644;
    border-radius: 3px;
}

nav.menu-3 a:first-child {
    padding-left: 58px;
}

.menu-3 {
    display: flex;
}

.menu-3 a {
    border-right: solid 1px #3f4852;
}

.menu-3 a:hover {
    color: #fd8612;
    background-color: #3f4852;
}

.home {
    position: relative;
}

.home:before {
    content: "";
    position: absolute;
    left: 30px;
    top: 16px;
    width: 16px;
    height: 13px;
    background: url(../img/sprites.png) no-repeat 0 0;
}

.social {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.social a {
    display: block;
    margin: 13.5px 15px 13.5px 15px;
    background: url(../img/sprites.png) no-repeat;
}

a.fb {
    width: 9px;
    height: 18px;
    background-position: -18px 0;
}

a.fb:hover {
    width: 9px;
    height: 18px;
    background-position: -18px -20px;
}

a.tw {
    width: 16px;
    height: 14px;
    background-position: -45px 0;
}

a.tw:hover {
    width: 16px;
    height: 14px;
    background-position: -45px -20px;
}

a.ig {
    width: 14px;
    height: 16px;
    background-position: -29px 0;
}

a.ig:hover {
    width: 14px;
    height: 16px;
    background-position: -29px -20px;
}


.social li {
    list-style: none;
}

ul.social {
    margin: 0;
}

