/* Global styles */

body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding: 68px 0;
    max-width: 960px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

h2 {
    margin: 55px 0 34px;
    color: #bfbfbf;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
}

.table-2,
.table-3 {
    overflow: hidden;
}

thead {
    color: #fff;
    font-weight: bold;
    background-color: #2a3644;
    border-color: #3f4751;
}

thead th {
    padding: 15px 30px 12px 30px;
}

thead th + th {
    border-left: solid 1px #3f4852;
}

th a {
    color: #fff;
    text-decoration: none;
}


tbody td {
    padding: 15px 30px 12px 30px;
    color: #2a3644;
}

tbody td + td {
    border-left: solid 1px #bfc1c1;
}

tbody tr + tr {
    border-top: solid 1px #bfc1c1;
}

.table-2 tbody tr:nth-child(1n),
.table-3 tbody tr:nth-child(1n) {
    background-color: #f2f2f2;
}

.table-2 tbody tr:nth-child(2n),
.table-3 tbody tr:nth-child(2n) {
    background-color: #e8e8e8;
}

.table-2 tbody tr:hover,
.table-3 tbody tr:hover {
    background-color: #bfc1c1;
}

.year th {
    border-left: solid 1px #3f4852;
    border-top: solid 1px #3f4852;
}

.number-column {
    width: 5%;
    text-align: center;
}

.name-column {
    width: 50%;
    text-align: left;
}

.tar {
    text-align: right;
}

nav ul {
    padding: 0;
    list-style: none;
}

/* 1. Навігація */

.navigation h2 {
    margin-top: 0px;
}


/* menu-1 */

.menu-1 > ul {
    display: flex;
    margin: 0;
    justify-content: space-between;
    background: linear-gradient(90deg, transparent 5%, #2a3644 5%, #2a3644 95%, transparent 95%, transparent 100%);
}

.menu-1 > ul > li {
    position: relative;
    display: block;
}

.menu-1 > ul > li > a {
    color: #fff;
    display: block;
    padding: 13.5px 30px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    background-color: #2a3644;
}

.menu-1 > ul > li > a {
    border-left: 1px solid #3f4751;
    border-right: 1px solid #3f4751;
}

.menu-1 > ul > li:first-child > a {
    border-left: none;
    border-radius: 3px 0 0 3px;
}

.menu-1 > ul > li:last-child > a {
    margin-right: -0.5px;
    border-right: none;
    border-radius: 0 3px 3px 0;
}

.menu-1 > ul > li:last-child > ul {
    margin-left: -89px;
}

.menu-1 > ul > li > ul {
    position: absolute;
    z-index: 1;
}

.menu-1 > ul > li:hover > a {
    color: #fd8612;
    background-color: #3f4852;
}

.menu-1 > ul > li:hover > .dropdown {
    display: block;
}

.dropdown {
    padding-top: 5px;
    color: transparent;
    display: none;
    width: 210px;
}

.dropdown a {
    display: block;
    padding: 12px 20px 10px 20px;
    color: #2a3644;
    background-color: #d2d4d5;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.dropdown > li + li > a {
    border-top: 1px solid #b9bdc1;
}

.dropdown > li:first-child > a {
    border-radius: 3px 3px 0 0;
}

.dropdown > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.dropdown li:hover > a {
    color: #fd8612;
    background-color: #2a3644;
}

/* menu-2 */

.menu-2 {
    margin-top: 30px;
    text-align: center;
    border: none;
    border-collapse: collapse;
}

.menu-2 th:first-child {
    border-radius: 3px 0 0 3px;
}

.menu-2 th:last-child {
    border-radius: 0 3px 3px 0;
}

.menu-2 a:before {
    content: "";
    width: 100%;
    height: 100%;
}

.menu-2 th:hover{
    background-color: #3f4852;
}

.menu-2 th:hover a {
    color: #fd8612;
}

nav.menu-2 a:first-child {
    border-left: none;
}

nav.menu-2 a:last-child {
    border-right: none;
}

/* menu-3 */

.navigation-3 {
    margin-top: 30px;
}

.menu-3 > ul {
    display: flex;
    margin: 0;
    background: linear-gradient(90deg, transparent 5%, #2a3644 5%, #2a3644 95%, transparent 95%, transparent 100%);
}

.menu-3 > ul > li {
    position: relative;
    display: block;
}

.menu-3 > ul > li > a {
    color: #fff;
    display: block;
    padding: 13.5px 30px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    background-color: #2a3644;
}

.menu-3 > ul > li > a {
    border-left: 1px solid #3f4751;
    border-right: 1px solid #3f4751;
}

.menu-3 > ul > li:first-child > a {
    border-left: none;
    border-radius: 3px 0 0 3px;
}

.menu-3 > ul > li:last-child > a {
    margin-right: -0.5px;
    border-right: none;
    border-radius: 0 3px 3px 0;
}

.menu-3 > ul > li:last-child > ul {
    margin-left: -89px;
}

.menu-3 > ul > li > ul {
    position: absolute;
    z-index: 3;
}

.menu-3 > ul > li:hover > a {
    color: #fd8612;
    background-color: #3f4852;
}

.menu-3 > ul > li:hover .dropdown {
    display: block;
}

.dropdown > li + li > a {
    border-top: 1px solid #b9bdc1;
}

.dropdown > li:first-child > a {
    border-radius: 3px 3px 0 0;
}

.dropdown > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.dropdown li:hover > a {
    color: #fd8612;
    background-color: #2a3644;
}





